 b{
          color:rgb(81, 36, 123); 
        }
        h1{
            color:rgb(107, 14, 195);
        }
        h2{
            color:rgb(165, 128, 200)
        }
        p{
            color: rgb(92, 39, 142);
        }