p::first-line{
    color: aquamarine;
}
p::first-letter{
    color: brown;
}
p::after{
    content: "hey Nive";
    color: blueviolet;
}
p::before{
    content: "Hey Nila";
    color: deeppink;
}
p::selection{
    background-color: gold;
    color: aqua;
}
li{
    color: chartreuse;
}
li::marker{
    color: chocolate;
}