/* h1{
    color: darkgreen;
}
h2,h4{
    color: aquamarine;
} */
/* .ind{
    color: blue;
}
.pak{
    color: aquamarine;
}
.nila{
    color: blueviolet;
}
.nive{
    color: chocolate;
}
.rcb{
    color: crimson;
    background-color: rosybrown;
}
#ro{
    color: hotpink;
}
#do{
    color: darkslategrey;
} */
 *{
    color: cadetblue;
 }