<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./cards.css">
</head>
<body>
    <main><article>
        <img src="./image/biryani.avif" alt="">
        <h6>Chicken Biryani</h6>
        <h3>Price : <strike>Rs.200</strike> Rs.150</h3>
        <h3>Rating : 4.4</h3>
        <button>Add to cart</button>
    </article>
    <article>
        <img src="./image/noodles.avif" alt="">
        <h6>Mushroom Noodles</h6>
        <h3>Price : <strike>Rs.180</strike> Rs.120</h3>
        <h3>Rating : 4.2</h3>
        <button>Add to cart</button>
    </article>
    <article>
        <img src="./image/pizza.avif" alt="">
        <h6>Panner Pizza</h6>
        <h3>Price : <strike>Rs.250</strike> Rs.150</h3>
        <h3>Rating : 4.1</h3>
        <button>Add to cart</button>
    </article>
    <article>
        <img src="./image/ice cream.avif" alt="">
        <h6>Belgium Waffle</h6>
        <h3>Price : <strike>Rs.100</strike> Rs.70</h3>
        <h3>Rating : 4.5</h3>
        <button>Add to cart</button>
    </article></main>
    
</body>
</html>