<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fb</title>
    <link rel="stylesheet" href="./fb.css">
    <link rel="shortcut icon" href="./image/fb logo.ico" type="image/x-icon">
</head>
<body>
    <main>
      <section id="sec1">
        <div class="div1">
            <img src="./image/fb logo.ico" alt="fb">
            <h1>Explore the things <span>you love</span></h1>
        </div>
        <div class="div2">
            <img src="./image/HpEiFYDux5j.webp" alt="">
        </div>
      </section>
      <section id="sec2">
        <div class="div3">
            <form action="">
                <h3>Login to Facebook</h3>
                <input type="text" placeholder="Email address or mobile Number"><br>
                <input type="password" placeholder="password">
                <button>login</button>
                <a href="">Forgotten Password</a>

            </form>
        </div>
        <div class="div4">
             <button>Create new account</button>
             <h6><i class="fa-brands fa-meta"></i> meta</h6>
        </div>
      </section>

    </main>
</body>
</html>