<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Login</title>
    <link rel="stylesheet" href="insta.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <main>
        <section id="sec1">
            <div class="hero-content">
                <img src="./image/insta mini.webp" alt="">
            </div>
                <div class="hero-image">
                    <h1>See everyday moments from your <br><span>close friends.</span></h1>

                    <img src="./image/insta logo.webp" alt="Moments">
                </div>
           
        </section>
    

        <section id="sec2">
            <div class="login-container">
                <form action="#">
                    <h3>Log into Instagram</h3>
                    <input type="text" placeholder="Mobile number, username or email">
                    <input type="password" placeholder="Password">
                    <button type="submit" class="btn-login">Log in</button>
                    <a href="#" class="forgot-link">Forgot password?</a>
                </form>

                <div class="insta-login">
                    <button class="btn-fb">
                        <i class="fa-brands fa-facebook"></i> Log in with Facebook
                    </button>
                </div>

                <div class="create-account">
                    <button class="btn-signup">Create new account</button>
                </div>

                <div class="meta-footer">
                    <h6><i class="fa-brands fa-meta"></i> Meta</h6>
                </div>
            </div>
        </section>
    </main>
</body>
</html>