*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: aqua;
}
nav>ul{
    justify-content: left;
    display: flex;
    list-style-type: none;
    justify-content: center;
}
ul>li{
    padding: 1rem;
}

@media(max-width:500px){
    nav{
        background-color: brown;
    }
    nav>ul{
        justify-content: end;
    }
}