<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./nav.css">
    <link rel="shortcut icon" href="./image/surya.jpg" type="image/x-icon">
</head>
<body>
    <!-- <nav>
        <div>
        <h1>home</h1>
        <h1>layout</h1>
        </div>

        <aside>
        <h1>service</h1>
        <h1>login</h1> 
        </aside>
    </nav> -->

    <header>
        <aside>
          <img src="" alt="">
          <a href="">Home</a>
          <a href="">layout</a>
          <a href="">service</a>
        </aside>
        <aside>
            <a href="">locate us </a>
            <button>signin</button>
            <button>signup</button>
        </aside>
    </header>
</body>
</html>