<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Subscriptions Layout</title>
<link rel="stylesheet" href="./task1.css">
</head>
<body>

<div class="container">

    <div class="left">
        <h1>Your favorite subscriptions all in one place</h1>
        <p>
            Customers can subscribe to get access to a variety of premium and 
            specialty content, easily accessible within the Prime Video app
        </p>
    </div>

    <div class="right">

        <div class="card">
            <img src="./img1.jpg" alt="">
        </div>

        <div class="card">
            <img src="./img2.jpg" alt="">
        </div>

        <div class="card">
            <img src="./img3.jpg" alt="">
        </div>

        <div class="card">
            <img src="./img4.jpg" alt="">
        </div>

        <div class="card">
            <img src="./img5.jpg" alt="">
        </div>

        <div class="card">
            <img src="./img6.jpg" alt="">
        </div>

        <div class="card">
            <img src="./img7.jpg" alt="">
        </div>

        <div class="card">
            <img src="./img8.jpg" alt="">
        </div>

        <div class="card">
            <img src="./img9.jpg" alt="">
        </div>

    </div>

</div>

</body>
</html>