<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./unit.css">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1 id="second">i am also header</h1>
    </div>
</body>
</html>

<!--content box -
    border box -
   absolute unit px,cm,mm,pt
     Relative unit   rem ,em,%,vw,vh,vmin,vmax    (rem,em is common interview questions)   (em is depend on parent, rem is depend on html element or roolt element )
     padding, margin , fontsize go for rem  
      -->