<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Level Vertical Nav</title>
    <link rel="stylesheet" href="./verticalnav.css">
</head>
<body>
    <aside>
        <ul>
            <li><a href="#">Home</a></li>
            <li id="bf"><a href="#">Breakfast</a>
                <ul id="bf-menu" class="submenu">
                    <li class="has-submenu">
                        <a href="#">Veg</a>
                        <ul class="nested-menu">
                            <li><a href="#">Dosa</a></li>
                            <li><a href="#">Poori</a></li>
                            <li><a href="#">Chapathi</a></li>
                            <li><a href="#">Pongal</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">Non-veg</a>
                        <ul class="nested-menu">
                            <li><a href="#">Idlimedia</a></li>
                            <li><a href="#">Curry Kolambu</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Lunch</a></li>
            <li><a href="#">Dinner</a></li>
        </ul>
    </aside>
</body>
</html>