<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./zindex.css">
</head>
<body>
    <!-- <img src="./image/img1.jpg" alt="" class="img1">
    <img src="./image/img2.jpg" alt="" class="img2">
    <img src="./image/img3.jpg" alt="" class="img3">
    <img src="./image/img4.jpg" alt="" class="img4">
    <img src="./image/img5.jpg" alt="" class="img5"> -->
    <h1>i am header</h1>
    <div>
  <h1>i am also header</h1>
  <p>i am paragraph</p>
    </div>
</body>
</html>